/**
 * @name Nature    
 * @author [tweakcn](https://github.com/jnsahaj/tweakcn)
 */

:root {
  --background: hsl(37.5 36.36% 95.69%);
  --foreground: hsl(8.89 27.84% 19.02%);
  --card: hsl(37.5 36.36% 95.69%);
  --card-foreground: hsl(8.89 27.84% 19.02%);
  --popover: hsl(37.5 36.36% 95.69%);
  --popover-foreground: hsl(8.89 27.84% 19.02%);
  --primary: hsl(123.04 46.2% 33.53%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(124.62 39.39% 93.53%);
  --secondary-foreground: hsl(124.48 55.37% 23.73%);
  --muted: hsl(33.75 34.78% 90.98%);
  --muted-foreground: hsl(15 25.29% 34.12%);
  --accent: hsl(122 37.5% 84.31%);
  --accent-foreground: hsl(124.48 55.37% 23.73%);
  --destructive: hsl(0 66.39% 46.67%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(33.91 27.06% 83.33%);
  --input: hsl(33.91 27.06% 83.33%);
  --ring: hsl(123.04 46.2% 33.53%);
  --chart-1: hsl(122.42 39.44% 49.22%);
  --chart-2: hsl(122.79 43.43% 38.82%);
  --chart-3: hsl(123.04 46.2% 33.53%);
  --chart-4: hsl(124.48 55.37% 23.73%);
  --chart-5: hsl(125.71 51.22% 8.04%);
  --sidebar: hsl(33.75 34.78% 90.98%);
  --sidebar-foreground: hsl(8.89 27.84% 19.02%);
  --sidebar-primary: hsl(123.04 46.2% 33.53%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(122 37.5% 84.31%);
  --sidebar-accent-foreground: hsl(124.48 55.37% 23.73%);
  --sidebar-border: hsl(33.91 27.06% 83.33%);
  --sidebar-ring: hsl(123.04 46.2% 33.53%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(132.86 20% 13.73%);
  --foreground: hsl(32.73 26.83% 91.96%);
  --card: hsl(124.62 12.62% 20.2%);
  --card-foreground: hsl(32.73 26.83% 91.96%);
  --popover: hsl(124.62 12.62% 20.2%);
  --popover-foreground: hsl(32.73 26.83% 91.96%);
  --primary: hsl(122.42 39.44% 49.22%);
  --primary-foreground: hsl(125.71 51.22% 8.04%);
  --secondary: hsl(115.38 9.63% 26.47%);
  --secondary-foreground: hsl(114 13.89% 85.88%);
  --muted: hsl(124.62 12.62% 20.2%);
  --muted-foreground: hsl(34.74 19.19% 80.59%);
  --accent: hsl(122.79 43.43% 38.82%);
  --accent-foreground: hsl(32.73 26.83% 91.96%);
  --destructive: hsl(0 66.39% 46.67%);
  --destructive-foreground: hsl(32.73 26.83% 91.96%);
  --border: hsl(115.38 9.63% 26.47%);
  --input: hsl(115.38 9.63% 26.47%);
  --ring: hsl(122.42 39.44% 49.22%);
  --chart-1: hsl(122.57 38.46% 64.31%);
  --chart-2: hsl(122.82 38.46% 56.67%);
  --chart-3: hsl(122.42 39.44% 49.22%);
  --chart-4: hsl(122.58 40.97% 44.51%);
  --chart-5: hsl(122.79 43.43% 38.82%);
  --sidebar: hsl(132.86 20% 13.73%);
  --sidebar-foreground: hsl(32.73 26.83% 91.96%);
  --sidebar-primary: hsl(122.42 39.44% 49.22%);
  --sidebar-primary-foreground: hsl(125.71 51.22% 8.04%);
  --sidebar-accent: hsl(122.79 43.43% 38.82%);
  --sidebar-accent-foreground: hsl(32.73 26.83% 91.96%);
  --sidebar-border: hsl(115.38 9.63% 26.47%);
  --sidebar-ring: hsl(122.42 39.44% 49.22%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
