/**
 * @name Notebook    
 * @author [tweakcn](https://github.com/jnsahaj/tweakcn)
 */

:root {
  --background: hsl(0 0% 97.65%);
  --foreground: hsl(0 0% 22.75%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 22.75%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 22.75%);
  --primary: hsl(0 0% 37.65%);
  --primary-foreground: hsl(0 0% 94.12%);
  --secondary: hsl(0 0% 87.06%);
  --secondary-foreground: hsl(0 0% 22.75%);
  --muted: hsl(0 0% 89.02%);
  --muted-foreground: hsl(0 0% 31.37%);
  --accent: hsl(47.44 64.18% 86.86%);
  --accent-foreground: hsl(14.21 25.68% 29.02%);
  --destructive: hsl(0 41.49% 63.14%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0.87% 45.1%);
  --input: hsl(0 0% 100%);
  --ring: hsl(0 0% 62.75%);
  --chart-1: hsl(0 0% 20%);
  --chart-2: hsl(0 0% 33.33%);
  --chart-3: hsl(0 0% 46.67%);
  --chart-4: hsl(0 0% 60%);
  --chart-5: hsl(0 0% 73.33%);
  --sidebar: hsl(0 0% 94.12%);
  --sidebar-foreground: hsl(0 0% 22.75%);
  --sidebar-primary: hsl(0 0% 37.65%);
  --sidebar-primary-foreground: hsl(0 0% 94.12%);
  --sidebar-accent: hsl(47.44 64.18% 86.86%);
  --sidebar-accent-foreground: hsl(14.21 25.68% 29.02%);
  --sidebar-border: hsl(0 0% 75.29%);
  --sidebar-ring: hsl(0 0% 62.75%);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0.5px;
}

.dark {
  --background: hsl(0 0% 16.86%);
  --foreground: hsl(0 0% 86.27%);
  --card: hsl(0 0% 20%);
  --card-foreground: hsl(0 0% 86.27%);
  --popover: hsl(0 0% 20%);
  --popover-foreground: hsl(0 0% 86.27%);
  --primary: hsl(0 0% 69.02%);
  --primary-foreground: hsl(0 0% 16.86%);
  --secondary: hsl(0 0% 35.29%);
  --secondary-foreground: hsl(0 0% 75.29%);
  --muted: hsl(0 0% 27.06%);
  --muted-foreground: hsl(0 0% 62.75%);
  --accent: hsl(0 0% 87.84%);
  --accent-foreground: hsl(0 0% 20%);
  --destructive: hsl(0 35.59% 76.86%);
  --destructive-foreground: hsl(0 0% 16.86%);
  --border: hsl(0 0% 30.98%);
  --input: hsl(0 0% 20%);
  --ring: hsl(0 0% 75.29%);
  --chart-1: hsl(0 0% 93.73%);
  --chart-2: hsl(0 0% 81.57%);
  --chart-3: hsl(0 0% 69.02%);
  --chart-4: hsl(0 0% 56.47%);
  --chart-5: hsl(0 0% 43.92%);
  --sidebar: hsl(0 0% 12.94%);
  --sidebar-foreground: hsl(0 0% 86.27%);
  --sidebar-primary: hsl(0 0% 69.02%);
  --sidebar-primary-foreground: hsl(0 0% 12.94%);
  --sidebar-accent: hsl(0 0% 87.84%);
  --sidebar-accent-foreground: hsl(0 0% 20%);
  --sidebar-border: hsl(0 0% 30.98%);
  --sidebar-ring: hsl(0 0% 75.29%);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}

body {
  letter-spacing: var(--tracking-normal);
}
