/**
 * @name Ocean Breeze    
 * @author [tweakcn](https://github.com/jnsahaj/tweakcn)
 */

:root {
  --background: hsl(208 100% 97.06%);
  --foreground: hsl(216.92 19.12% 26.67%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(216.92 19.12% 26.67%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(216.92 19.12% 26.67%);
  --primary: hsl(142.09 70.56% 45.29%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(204 93.75% 93.73%);
  --secondary-foreground: hsl(215 13.79% 34.12%);
  --muted: hsl(220 14.29% 95.88%);
  --muted-foreground: hsl(220 8.94% 46.08%);
  --accent: hsl(149.27 80.39% 90%);
  --accent-foreground: hsl(216.92 19.12% 26.67%);
  --destructive: hsl(0 84.24% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(220 13.04% 90.98%);
  --input: hsl(220 13.04% 90.98%);
  --ring: hsl(142.09 70.56% 45.29%);
  --chart-1: hsl(142.09 70.56% 45.29%);
  --chart-2: hsl(160.12 84.08% 39.41%);
  --chart-3: hsl(161.38 93.55% 30.39%);
  --chart-4: hsl(162.93 93.55% 24.31%);
  --chart-5: hsl(163.15 88.12% 19.8%);
  --sidebar: hsl(204 93.75% 93.73%);
  --sidebar-foreground: hsl(216.92 19.12% 26.67%);
  --sidebar-primary: hsl(142.09 70.56% 45.29%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(149.27 80.39% 90%);
  --sidebar-accent-foreground: hsl(216.92 19.12% 26.67%);
  --sidebar-border: hsl(220 13.04% 90.98%);
  --sidebar-ring: hsl(142.09 70.56% 45.29%);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(222.22 47.37% 11.18%);
  --foreground: hsl(216 12.2% 83.92%);
  --card: hsl(217.24 32.58% 17.45%);
  --card-foreground: hsl(216 12.2% 83.92%);
  --popover: hsl(217.24 32.58% 17.45%);
  --popover-foreground: hsl(216 12.2% 83.92%);
  --primary: hsl(158.11 64.37% 51.57%);
  --primary-foreground: hsl(222.22 47.37% 11.18%);
  --secondary: hsl(217.78 23.08% 22.94%);
  --secondary-foreground: hsl(240 5.03% 64.9%);
  --muted: hsl(217.24 32.58% 17.45%);
  --muted-foreground: hsl(220 8.94% 46.08%);
  --accent: hsl(216.92 19.12% 26.67%);
  --accent-foreground: hsl(240 5.03% 64.9%);
  --destructive: hsl(0 84.24% 60.2%);
  --destructive-foreground: hsl(222.22 47.37% 11.18%);
  --border: hsl(215 13.79% 34.12%);
  --input: hsl(215 13.79% 34.12%);
  --ring: hsl(158.11 64.37% 51.57%);
  --chart-1: hsl(158.11 64.37% 51.57%);
  --chart-2: hsl(172.46 66.01% 50.39%);
  --chart-3: hsl(142.09 70.56% 45.29%);
  --chart-4: hsl(160.12 84.08% 39.41%);
  --chart-5: hsl(161.38 93.55% 30.39%);
  --sidebar: hsl(217.24 32.58% 17.45%);
  --sidebar-foreground: hsl(216 12.2% 83.92%);
  --sidebar-primary: hsl(158.11 64.37% 51.57%);
  --sidebar-primary-foreground: hsl(222.22 47.37% 11.18%);
  --sidebar-accent: hsl(216.92 19.12% 26.67%);
  --sidebar-accent-foreground: hsl(240 5.03% 64.9%);
  --sidebar-border: hsl(215 13.79% 34.12%);
  --sidebar-ring: hsl(158.11 64.37% 51.57%);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
