/**
 * @name Pastel Dreams    
 * @author [tweakcn](https://github.com/jnsahaj/tweakcn)
 */

:root {
  --background: hsl(280 33.33% 96.47%);
  --foreground: hsl(216.92 19.12% 26.67%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(216.92 19.12% 26.67%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(216.92 19.12% 26.67%);
  --primary: hsl(255.14 91.74% 76.27%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(267.57 90.24% 91.96%);
  --secondary-foreground: hsl(215 13.79% 34.12%);
  --muted: hsl(268.7 100% 95.49%);
  --muted-foreground: hsl(220 8.94% 46.08%);
  --accent: hsl(292.5 44.44% 92.94%);
  --accent-foreground: hsl(216.92 19.12% 26.67%);
  --destructive: hsl(0 93.55% 81.76%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(267.57 90.24% 91.96%);
  --input: hsl(267.57 90.24% 91.96%);
  --ring: hsl(255.14 91.74% 76.27%);
  --chart-1: hsl(255.14 91.74% 76.27%);
  --chart-2: hsl(258.31 89.53% 66.27%);
  --chart-3: hsl(262.12 83.26% 57.84%);
  --chart-4: hsl(263.39 69.96% 50.39%);
  --chart-5: hsl(263.36 69.3% 42.16%);
  --sidebar: hsl(267.57 90.24% 91.96%);
  --sidebar-foreground: hsl(216.92 19.12% 26.67%);
  --sidebar-primary: hsl(255.14 91.74% 76.27%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(292.5 44.44% 92.94%);
  --sidebar-accent-foreground: hsl(216.92 19.12% 26.67%);
  --sidebar-border: hsl(267.57 90.24% 91.96%);
  --sidebar-ring: hsl(255.14 91.74% 76.27%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}

.dark {
  --background: hsl(24 9.8% 10%);
  --foreground: hsl(226.45 100% 93.92%);
  --card: hsl(270 17.78% 17.65%);
  --card-foreground: hsl(226.45 100% 93.92%);
  --popover: hsl(270 17.78% 17.65%);
  --popover-foreground: hsl(226.45 100% 93.92%);
  --primary: hsl(255.9 95.4% 82.94%);
  --primary-foreground: hsl(24 9.8% 10%);
  --secondary: hsl(272.5 19.35% 24.31%);
  --secondary-foreground: hsl(216 12.2% 83.92%);
  --muted: hsl(270 17.78% 17.65%);
  --muted-foreground: hsl(217.89 10.61% 64.9%);
  --accent: hsl(266.9 19.21% 29.61%);
  --accent-foreground: hsl(216 12.2% 83.92%);
  --destructive: hsl(0 93.55% 81.76%);
  --destructive-foreground: hsl(24 9.8% 10%);
  --border: hsl(272.5 19.35% 24.31%);
  --input: hsl(272.5 19.35% 24.31%);
  --ring: hsl(255.9 95.4% 82.94%);
  --chart-1: hsl(255.9 95.4% 82.94%);
  --chart-2: hsl(255.14 91.74% 76.27%);
  --chart-3: hsl(258.31 89.53% 66.27%);
  --chart-4: hsl(262.12 83.26% 57.84%);
  --chart-5: hsl(263.39 69.96% 50.39%);
  --sidebar: hsl(272.5 19.35% 24.31%);
  --sidebar-foreground: hsl(226.45 100% 93.92%);
  --sidebar-primary: hsl(255.9 95.4% 82.94%);
  --sidebar-primary-foreground: hsl(24 9.8% 10%);
  --sidebar-accent: hsl(266.9 19.21% 29.61%);
  --sidebar-accent-foreground: hsl(216 12.2% 83.92%);
  --sidebar-border: hsl(272.5 19.35% 24.31%);
  --sidebar-ring: hsl(255.9 95.4% 82.94%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08),
    0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}
