/**
 * @name Tangerine    
 * @author [tweakcn](https://github.com/jnsahaj/tweakcn)
 */

:root {
  --background: hsl(204 12.2% 91.96%);
  --foreground: hsl(0 0% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 20%);
  --primary: hsl(13.21 73.04% 54.9%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(220 14.29% 95.88%);
  --secondary-foreground: hsl(215 13.79% 34.12%);
  --muted: hsl(210 20% 98.04%);
  --muted-foreground: hsl(220 8.94% 46.08%);
  --accent: hsl(207.69 46.43% 89.02%);
  --accent-foreground: hsl(224.44 64.29% 32.94%);
  --destructive: hsl(0 84.24% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 9.37% 87.45%);
  --input: var(--border);
  --ring: hsl(13.21 73.04% 54.9%);
  --chart-1: hsl(210 37.5% 65.49%);
  --chart-2: hsl(12.9 73.23% 75.1%);
  --chart-3: hsl(213.16 29.92% 50.2%);
  --chart-4: hsl(216.92 35.78% 42.75%);
  --chart-5: hsl(221.01 43.65% 35.49%);
  --sidebar: hsl(216 7.94% 87.65%);
  --sidebar-foreground: hsl(0 0% 20%);
  --sidebar-primary: hsl(13.21 73.04% 54.9%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(207.69 46.43% 89.02%);
  --sidebar-accent-foreground: hsl(224.44 64.29% 32.94%);
  --sidebar-border: hsl(220 13.04% 90.98%);
  --sidebar-ring: hsl(13.21 73.04% 54.9%);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(219.13 29.11% 15.49%);
  --foreground: hsl(0 0% 89.8%);
  --card: hsl(223.64 20.75% 20.78%);
  --card-foreground: hsl(0 0% 89.8%);
  --popover: hsl(223.33 19.15% 18.43%);
  --popover-foreground: hsl(0 0% 89.8%);
  --primary: hsl(13.21 73.04% 54.9%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(222 19.23% 20.39%);
  --secondary-foreground: hsl(0 0% 89.8%);
  --muted: hsl(222 19.23% 20.39%);
  --muted-foreground: hsl(0 0% 63.92%);
  --accent: hsl(223.64 34.38% 25.1%);
  --accent-foreground: hsl(213.33 96.92% 87.25%);
  --destructive: hsl(0 84.24% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(224.35 15.86% 28.43%);
  --input: var(--border);
  --ring: hsl(13.21 73.04% 54.9%);
  --chart-1: hsl(210 37.5% 65.49%);
  --chart-2: hsl(11.72 63.5% 73.14%);
  --chart-3: hsl(213.16 29.92% 50.2%);
  --chart-4: hsl(216.92 35.78% 42.75%);
  --chart-5: hsl(221.01 43.65% 35.49%);
  --sidebar: hsl(222.86 20% 20.59%);
  --sidebar-foreground: hsl(0 0% 89.8%);
  --sidebar-primary: hsl(13.21 73.04% 54.9%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(223.64 34.38% 25.1%);
  --sidebar-accent-foreground: hsl(213.33 96.92% 87.25%);
  --sidebar-border: hsl(224.35 15.86% 28.43%);
  --sidebar-ring: hsl(13.21 73.04% 54.9%);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.1),
    0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}
